---
	import Layout from "../layouts/main.astro"
---

<Layout page={2}>
	<article>
		<h1>About this theme</h1>
		<p>
			This is a simple and colorful theme for all you Astro needs!
		</p>
	</article>
</Layout>

<style>
</style>