---
	import Layout from "../layouts/main.astro"

	let articles = await Astro.glob("../blog/*.md")

	articles.sort((a,b) => b.file.localeCompare(a.file, undefined, { numeric: true }))
---

<Layout page={1}>
	<h1>Blog</h1>
	{articles.map(article => (
		<article>
			<h1 class="post-title">{article.frontmatter.title}</h1>
			<div>
				<article.Content />
			</div>
		</article>
	))}
</Layout>

<style lang="sass">
	article
		border-left: 0.2rem solid gray
		margin-top: 5rem
		margin-bottom: 5rem
		h1.post-title
			font-size: 2rem
			text-align: left
			padding: 0.3rem
			background-color: #eee
		div
			padding-left: 0.3rem
			padding-bottom: 0.5rem

</style>