---
	import Layout from "../layouts/main.astro"
---

<Layout page={0} >
	<article>
		<h1>Hello world!</h1>
		<p>
			This is a simple and colorful theme for all you Astro needs!
		</p>
	</article>
</Layout>

<style>
</style>