---
	import Layout from "../layouts/main.astro"
	import Placeholder from "../theme/placeholder.astro"
---

<Layout page={0} >
	<article>
		<img src="https://picsum.photos/1000" width="1000" height="1000" alt="placeholder image">
		<h1>Hello world!</h1>
		<p>This is a simple yet falshy theme to make your website stand out.</p>
		<p>It has everything you need! (if you do not need a lot)</p>
	</article>
</Layout>

<style lang="sass">
	article
		text-align: center
		img
			width: 25vw
			height: auto
			min-width: 10rem
			margin: 0.3rem
			border-radius: 0.3rem
</style>